@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
}

div,
input,
button,
nav,
span,
section,
header,
main,
footer,
aside {
  box-sizing: border-box;
}

input {
  outline: none;
}

button {
  cursor: pointer;
}
