$button-color-blue: rgb(66, 106, 214);

a {
  text-decoration: none;
  color: #111;
}

button {
  width: 120px;
  height: 40px;
  background: $button-color-blue;
  cursor: pointer;
}

input {
  outline: none;
}

ul {
  li {
    list-style: none;
  }
}
