.main_right {
  display: none;
}

.myaccount {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.myaccount {
  .my_profile {
    width: 60px;
    height: 60px;
    background-image: url('https://images.unsplash.com/photo-1526510747491-58f928ec870f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=774&q=80');
    margin-right: 20px;
  }

  .username {
    font-size: 18px;
    font-weight: 700;
    line-height: 32px;
  }

  .user_intro {
    color: #888;
  }
}

.stories {
  height: 250px;
  border: 1px solid #ddd;
  background-color: white;
  overflow-y: scroll;
}

.aside_bar {
  display: flex;
  justify-content: space-between;
  padding: 18px 10px;

  span {
    font-weight: 700;
  }

  button {
    width: auto;
    height: auto;
    border: none;
    background-color: transparent;
    color: #0569ab;
  }
}

.stories_list {
  padding: 0 10px;

  > div {
    display: flex;
    align-items: center;

    &:not(:last-child) {
      padding-bottom: 10px;
    }
  }

  .username {
    font-weight: 700;
    line-height: 24px;

    p {
      font-weight: 400;
      color: #888;
      line-height: normal;
    }
  }
}

.suggestions {
  height: 300px;
  border: 1px solid #ddd;
  background-color: white;
  margin-top: 20px;
  overflow-y: scroll;

  button {
    width: auto;
    height: auto;
    border: none;
    background-color: transparent;
    color: #0569ab;
  }
}

.suggestions_list {
  padding: 0 10px;

  > div {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &:not(:last-child) {
      padding-bottom: 10px;
    }

    > div {
      display: flex;
      align-items: center;
    }
  }

  .username {
    font-weight: 700;
    line-height: 24px;

    p {
      line-height: normal;
      font-weight: 400;
      color: #888;
    }
  }
}
